table {
  text-align: center;
  
  margin: 1rem auto;
  border: 2px solid var(--color-black);
  border-collapse: collapse;
}
table * {
  padding: 0.5rem;
  border: 2px solid var(--color-black);
}

div h3 {
  text-align: center;
}

.colored {
  background-color: var(--color-red);
}
