form {
    margin: auto;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    width: 90%;
  }
  form * {
    margin: 0.6em;
    
    
  }
  input {
    color: black;
  }
  textarea {
    color: black;
  }
  label {
    font-size: 1.5em;
  }
#commenty {
    font-size: 2em;
}
button {
    color: black;
    padding: 1em;
}

