form {
  margin: 4em auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--color-black);
}
form * {
  margin: 0.6em;
  border-radius: 0.5rem;
}
input {
  color: black;
  margin: 2em 0;
  padding: 0.5em;
  width: 90%;
  height: 10%;
}
textarea {
  height: 100%;
  width: 90%;
}
label {
  
  font-size: 1.2em;
}

button {
  padding: 1em;
  grid-column: 2;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  form {
    grid-template-columns: 1fr;
  }
  button {
    grid-column: 1;
  }
}
