.navdiv {
  padding: 1em 0;
  display: flex;
}

.link {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-red);
  box-shadow: 3px 3px var(--color-red);
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 20%;
}

@media screen and (max-width: 480px) {
  .link {
    font-size: 0.8rem;
  }
}
